#calculator {
    display: flex;
    flex-direction: column;
    width: 32rem;
    border: 1px solid #000000;
    font-size: 4rem;
    font-family: monospace;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,.6) 1px 1px 2px;
}

#calc-display {
    padding: 1rem;
    border: 1px solid #000000;
    text-align: right;
    width: auto;
    height: 3.25rem;
    background-color: #e6ffe6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#calc-controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #000000;
    background-color: #bbffff;
}

.calc-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.calc-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    border: 1px solid #000000;
    background-color: #eeeeee;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,.6) 1px 1px 2px;
}
.calc-btn:hover {
    transform: translate(1px, 1px);
}
.calc-btn:active {
    transform: translate(2px, 2px);
}

.calc-operator {
    color: #ffffff;
    background-color: #000000;
}

#clear {
    color: #ffffff;
    background-color: #770000;
}

#backspace {
    flex: 2.2 2 0;
}